/* Notes:
- CSS organized into sections.
- media queries typically found in section they pertain to.
*/

/** General */
h1, h2, h3, h4, h5, h6, .nav>li>a {
  font-family: 'open sans', sans-serif;
}

body{
  font-family: Helvetica, sans-serif;
  font-size: 14pt;
  color: #333;
  line-height: 1.4;
}

table {
  width: 100%;
}


td, th {
  border: 2px solid #666;
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: top;
}

th {
  background-color: #31a3dd;
}

hr {
  border: 1px solid #31A3DD;
}

.gray {
  background-color: #dfdfdf;
}

.strikethrough {
  text-decoration: line-through;
}

button {
  color: white;
  background-color: #31A3DD;
  border-radius: 5px;
  padding: 1% 2%;
}

@media (min-width: 768px) {
  .text-right-sm-plus {
    text-align: right;
  }
}

/* Header */

header {

  border-style: solid;
  border-color: #31a3dd;
  border-width: 0 0 3px 0;
}

header .logo img {
  width: 200px;
  height: 100px;
}

header ul {
  list-style-type: none;
}

.head-contact-info {
  display: block;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 0;
}

header a {
  text-decoration: none;
  color: #333;
}

/* Navbar */

nav img {
  width: 60px;
  margin-top: -2px;
}

.navbar-brand {
  /* To allow centering of links to not be affect by logo image. */
  position: absolute;
}

.navbar-default{
  /* border-color: #31a3dd;
  border-width: 0 0 3px 0; */
  background-color: white;
  border: none;
  /* border-style: solid; */
  margin: 0;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.navbar-default .navbar-nav > .active > a {
  background-color: #31a3dd;
  color: white;
}

.navbar-default .nav>li>a {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16pt;
  line-height: 1.5;
}



@media (min-width: 768px) {

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: middle;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 767px) {
    nav img {
      margin-top: -5px;
    }
}


.navbar-brand {
  padding: 5px 15px;
}


/** Carousel **/

.carousel-inner .item {
  height: 340px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption h1 {
  display: inline-block;
  text-shadow: 2px 4px 6px rgba(0,0,0,0.6);
  /* text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.2),
             0px 18px 23px rgba(0,0,0,0.2); */
  padding: 10px 15px;
  border-radius: 4px;
  /* background-color: rgba(100, 100, 100, 0.5) */
}

.carousel-caption button {
  /* display: block; */
  margin-bottom: 10px;
}

/** Front-description **/

.front-description h2 {
  /* margin-bottom: 45px; */
}

.front-description p {
  /* padding: 0 10px; */
  margin-bottom: 50px;
  background-color: #31a3dd;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
}

.front-description img {
  width: 100%;
}

.front-description {
  margin-top: 75px;
  line-height: 1.5;
  font-size: 16pt;
}

.front-description p.appointment-para {
  margin-top: 40px;
}

/** Front Promo **/

section.front-promo {
  background-color: #31a3dd;
}

section.front-promo div.front-promo-description {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.front-promo div.front-promo-action {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.front-promo .glyphicon-thumbs-up {
  font-size: 50px;
}

section.front-promo span.front-promo-text {
  margin-left: 30px;
  font-size: 30px;
}

@media (min-width: 768px) {
  section.front-promo div.front-promo-description, section.front-promo div.front-promo-action {
    height: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }
}



/** About page **/

.about-section {
  /* each section tag in about page has this class */
  padding-top: 75px;
  padding-bottom: 90px;
}
.about-section p {
  margin-bottom: 25px;
}

.what-play {
  color: #31a3dd;
  font-weight: bold;
  font-size: 24px;
}

.about-section table {
  margin-top: 20px;
}

#map {
    height: 400px;
    width: 100%;
}


/** Preschool **/
.preschool-section {
  padding-top: 75px;
  padding-bottom: 90px;
}

.preschool-section p, ul {
  margin-bottom: 25px;
}


/** Promos **/
.promo-section {
  padding-top: 75px;
  padding-bottom: 90px;
}

.promo-section p, ul {
  margin-bottom: 25px;
}

.promo-section .row{
  border-radius: 3px;
  border: dashed 4px #333;
}

.footnote {
  font-size: 11pt;
}

/** Pricing **/

.pricing-section {
  padding-top: 75px;
  padding-bottom: 90px;
}

.pricing-section table {
  margin-top: 40px;
}

.pricing-section td {
  text-align: left;
}

.pricing-section td:nth-child(2) {
  text-align: right;
}

/** Appointments **/

.appointment-section {
  padding-top: 75px;
  padding-bottom: 90px;
}

.appointment-section a {
  text-decoration: none;
  color: #333;
}

.appointment-section a:focus, .appointment-section a:hover {
    color: #23527c;
    text-decoration: underline;
}


/** Footer **/

footer {


}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer .footer-top {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background: #34495e;
}

footer .footer-top a{
  color: white;
}

/* bullet point style source: https://css-tricks.com/snippets/css/triangular-list-bullets/*/
footer .footer-top ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}
footer .footer-top li:before {
    content: "";
    border-color: transparent #ccc;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

footer .footer-top .footer-top-section {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .footer-bottom{
  color: #333;
  padding: 20px 0;
  background: #31A3DD;
}

footer .footer-bottom a {
  color: #333;
}

footer .footer-bottom .footer-bottom-section {
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  footer .footer-top .footer-top-section {
    min-height: 300px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
